<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malwhere: Analysis</title>

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/analysis.css">
</head>
<body>
    <nav>
        <div id="logo"><a href="/">malwhere</a></div>
        <div id="program">analyze: {{ submission_id }}</div>
    </nav>
    <div class="container">
        <ul id="function-tree">
            <li><button type="button" class="ControlFlow" onclick="showControlFlow()">View Control Flow Graph</button></li>
            <br>
        {% for entry, data in functions.items() %}
            <li><span data-func="{{ entry }}">{{ data["name"] }}</span></li>
        {% endfor %}
        </ul>
        <div id="function-code">
            {% set indent = namespace(value=0) %}
            {%- for entry, data in functions.items() -%}
            <div id="{{ entry }}" class="function" style="display: none;">
                <div class="info">
                    <span class="name">Function: {{ data["name"] }}</span>
                    <span class="address">(entry: {{ entry }})</span>
                </div>
                {%- for token in data["tokens"] -%}
                    {%- if token["type"] == "Syntax" and token["value"] == "{" -%}
                        {% set indent.value = indent.value + 1 %}
                    {%- endif -%}

                    {%- if loop.index + 1 < data["tokens"]|length -%} 
                        {% set next = data["tokens"][loop.index + 1] %}
                        {%- if next["type"] == "Syntax" and next["value"] == "}" -%}
                            {% set indent.value = indent.value - 1 %}
                        {%- endif -%}
                    {%- endif -%}
                    {%- if token["type"] == "Break" -%}
                        <br>
                        <span>{{ "&nbsp;"|safe*4*indent.value }}</span>
                    {%- else -%}
                        <span class="token {{ token['type'] }} {% if 'props' in token and 'const' in token['props'] -%}constant{% endif %}"
                            {%- if 'props' in token -%}
                                {%- for prop, value in token['props'].items() -%}
                                data-{{ prop }}="{{ value }}"
                                {%- endfor -%}
                            {%- endif -%}
                        >{{ token["value"] }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
    <div id="GraphPopup" style="display: none;" class="ControlFlowGraph">
        <button style="bottom:0;"type="button" class="ControlFlow" onclick="showControlFlow()">Exit Control Flow Graph</button>
        <div class="markmap"><script type="text/template">
            {{ controlFlow }}
            </script></div>
    </div>
    <script>
        window.markmap = {
            autoLoader: { manual: true },
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader"></script>
    <script>
        // Render in 5s
        setTimeout(() => {
            markmap.autoLoader.renderAll();
        }, 1000);
    </script>

    <script>
        const functions = document.getElementsByClassName("function")
        const tokens = document.getElementsByClassName("token")
        const functionTree = document.getElementById("function-tree")

        const popup = document.createElement("div")
        popup.classList.add("popup")

        document.body.appendChild(popup)

        let activeFunction = null

        function setActiveFunction(func, pushState=true) {
            if (activeFunction)
                activeFunction.style.display = "none"

            activeFunction = document.getElementById(func)

            if (!activeFunction)
                return;

            activeFunction.style.display = null

            if (pushState)
                history.pushState({curr: new Date().getTime()}, null, `#${func}`)
        }

        function setActiveHash() {
            const hash = window.location.hash

            if (hash)
                setActiveFunction(hash.substr(1), false)
        }

        const popup_fields = {
            "min-address": "min addr",
            "max-address": "max addr",
            "func-address": "func ptr",
        }

        window.addEventListener("load", _ => {
            for (let token of tokens) {
                if (token.hasAttribute("data-func-address")) {
                    token.addEventListener("click", _ => setActiveFunction(token.getAttribute("data-func-address")))
                }

                token.addEventListener("mouseover", event => {
                    lines = []

                    for (const attr of token.attributes) {
                        let name = attr.name

                        if (name.includes("data")) {
                            name = name.replace("data-", "")

                            if (name in popup_fields)
                                name = popup_fields[name]

                            lines.push(`${name}: ${attr.value}`)
                        }
                    }

                    if (lines.length == 0)
                        return

                    popup.style.display = null
                    popup.innerText = lines.join("\n")

                    const bbox = token.getBoundingClientRect()
                    const pbbox = popup.getBoundingClientRect()

                    const top = Math.max(1, bbox.y - pbbox.height - 8)
                    const left = Math.max(1, bbox.x + (bbox.width - pbbox.width) / 2)

                    popup.style.top = `${top}px`
                    popup.style.left = `${left}px`
                })

                token.addEventListener("mouseleave", _ => popup.style.display = "none")
            }

            for (let func of functionTree.children) {
                const span = func.children[0]

                func.addEventListener("click", _ => setActiveFunction(span.getAttribute("data-func")))
            }

            window.addEventListener("popstate", _ => setActiveHash())

            setActiveHash()
        })
        function showControlFlow() {
            
            const elem = document.getElementById("GraphPopup");
            if (elem.style.display != "none") {
                elem.style.display = "none";
            } else {
                elem.style.display = "block";
            }
            

        }

    </script>
</body>
</html>
