<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malwhere: Analysis</title>

    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/loading.css">
</head>

<body>
    <nav>
        <div id="logo"><a href="/">malwhere</a></div>
        <div id="program">analyzing <span id="ellipsis"></span> {{ submission_id }}</div>
    </nav>
    <div class="center" id="box-container" style="top: -1em">
        <div id="box-outer">
            <div id="box-inner">
                <div class="box box-1">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
                <div class="box box-2">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
                <div class="box box-3">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
                <div class="box box-4">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
                <div class="box box-5">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
                <div class="box box-6">
                    <div class="image"></div>
                    <h2>malwhere</h2>
                </div>
            </div>
        </div>
    </div>

    <script>
        let count = 0
        const ellipsis = document.getElementById("ellipsis")
        function check() {
            fetch("/api/1.0/exists/{{ submission_id }}")
                .then(response => response.json())
                .then(data => data != null && data.exists ? location.reload() : 0)

            ellipsis.innerHTML = ".".repeat(count) + "&nbsp;".repeat(3 - count)

            count = (count + 1) % 4

            setTimeout(check, 1000)
        }

        check()
    </script>
</body>

</html>
