<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malwhere: Start</title>
</head>
<body>
    {% for message in get_flashed_messages(False, ["error"]) %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="binary" id="binary">
        <input type="submit" value="Submit">
    </form>
</body>
</html>