.popup {
    position: fixed;
    background: black;
    border: 1px solid white;
}

.token.Variable {
    color: olive;
}

.token.FuncName {
    color: goldenrod;
}

.token.FuncName[data-func-address] {
    text-decoration: underline;
    cursor: pointer;
}

.token.FuncName[data-func-address]:hover {
    text-decoration: underline;
    cursor: pointer;
    outline: 1px dashed goldenrod;
}

.token.Type {
    color: cadetblue;
}

.token.Op {
    color: indianred;
}

.token.constant {
    color: orange;
}

.token.Comment {
    color: grey;
}

.container {
    max-width: inherit;
    display: flex;
    gap: 2rem;
}

#function-tree {
    max-width: 250px;
    max-height: calc(100vh - 8rem);
    overflow: auto;
    list-style-type: none;
    line-height: 1.25rem;

    border: 1px solid white;
    margin: 0;
    padding: 1.25rem;
}


#function-tree>li {
    color: cornflowerblue;
    cursor: pointer;
}

#function-tree>li:hover {
    color: lightblue;
}


.function {
    width: 80vw;
    height: 100%;
    max-height: calc(100vh - 8rem);
    overflow: auto;

    border: 1px solid white;
}

.function>.info>.name {
    font-size: 2rem;
    display: block;
    word-wrap: break-word;
}
